# Challenge 1 - Design the Database
Using pen and paper (or computer software if you are skillful at creating digital diagrams), design a database to meet the minimal requirements of your boss. The minimal information to be recorded is described below:

Cars - e.g. the vehicle identification number (VIN), manufacturer, model, year, and color of the cars in your company's inventory.

Customers - e.g. the customer ID, name, phone number, email, address, city, state/province, country, and zip/postal code of the customers.

Salespersons - e.g. staff ID, name, and the store at your company.

Invoices - e.g. the invoice number, date, car, spare part, customer, and salesperson related to each car sale or spare part

Spare parts - e.g. the spare part id, manufacaturer, model, description

Before solving this challenge, review your lesson about database structure and design then ask yourself:

What entities and attributes should be included in the database?

For each attribute, what data type is most suitable?
Also note that some attributes are required while other ones can be blank.
What are the relations between these entities? Which relations are one-to-one vs one-to-many vs many-to-many?

Your end product of this challenge should look something like below, though it doesn't have to be that complicated:

# Challenge 2 - Create the Database and Tables
Create a database for this lab.

In BigQuery you will find a 'dataset' called 'car_dealership'. You will create all tables under this.

Now, based on the database design you created, write the SQL query to create the tables and columns. You will be using the CREATE TABLE statement for which you can find reference here.

Now split yourselves in pairs and decide which table you want to create. Each pair should create one table. Once you have created the table, go to the BigQuery interface and make sure that the table was created correctly.

In [15]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/MarLizana/Desktop/IH/ironhack_service_account_big_query.json"
from google.cloud import bigquery

sql='''
CREATE TABLE car_dealership.car(
  vin STRING NOT NULL,
  manufacturer STRING,
  model STRING,
  year NUMERIC,
  color STRING)
'''

client = bigquery.Client()

In [16]:
query_job = client.query(query=sql)

# Challenge 3 - Seeding the Database
The purpose of database seeding is to provide some dummy data for an empty database so that software development can be started based on the dummy data. In this challenge you will insert dummy data rows into the tables of your new database.

You'll be using the INSERT INTO statement for this purpose. You can some info here.

For your convenience, we provide you with some example dummy data. These dummy data may not readily work with your database depending on how you have designed your database. You may need to change them to the appropriate form. You should only insert data into the table you have created.

In [17]:
sql_3 = '''INSERT INTO `ironhack-data-analytics-265219.car_dealership.car` 
VALUES ("3K096I98581DHSNUP","Volkswagen","Tiguan",2019, "Blue"),("ZM8G7BEUQZ97IH46V","Peugeot", "Rifter",2019,"Red"),("RKXVNNIHLVVZOUB4M","Ford", "Fusion",2018,"White"),("HKNDGS7CU31E9Z7JW","Toyota", "RAV4",2018,"Silver"),("DAM41UDN3CHU2WVF6","Volvo","V60",2019,"Gray"),("DAM41UDN3CHU2WVF6","Volvo","V60 Cross Country",2019,"Gray");
'''
query_job = client.query(query=sql_3)
query_job.result()

In [24]:
query_job.to_dataframe()

Empty DataFrame
Columns: []
Index: []

# Bonus Challenge - Updating and Deleting Database Records
Now you find an error you need to fix in your existing data - in the Salespersons table, you mistakenly spelled Miami as Mimia for Paige Turner. Also, you received the email addresses of the three customers:

Name	Email
Pablo Picasso	ppicasso@gmail.com
Abraham Lincoln	lincoln@us.gov
Napol√©on Bonaparte	hello@napoleon.me
Update those records.

In addition, you also find a duplicated car entry for VIN DAM41UDN3CHU2WVF6. You want to delete car ID #4 from the database.

You can some info here.

In [19]:
sql_4 = """
    DELETE FROM 
        `ironhack-data-analytics-265219.car_dealership.car`
    WHERE 
        vin = "DAM41UDN3CHU2WVF6" AND model = "V60"
    """
query_job = client.query(query=sql_4)